*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height : 100vh;
  background-image: url("./assets/Weather.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.nav{
  display: flex;
  justify-content: flex-end;
  height: 6rem;
  width: 100vw;
  background-color:#3e5172;
  align-items: center;
  box-shadow: 0 1px 8px #ddd;
}

.nav li{
  display:inline-block;
  margin: 1rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav a{
  color:	#f9b49b; 
  text-decoration: none;
  padding: 0.5rem;
}

.nav a:hover{
  background-color:#f9e9de;
  color:#9fb6c3;
  border-radius: 25%;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 4rem;
  background-color:#3e5172;
}

footer p{
  color:#ddd;
  font-size: 1.5rem;
  text-align: center;
  padding: .75rem;
  
}

.card{
  margin : 50px auto;
  padding:0.75rem;
  width:30vw;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #729fe3f7;
  box-shadow: 0 0.75px 6px #82b0bd;
 
}

.card div{
 
  padding:0.75rem;
  padding-left: 2rem;
}

#cardDetail{
  height:12rem;
  padding: 0.35rem;
  padding-left: 2rem;
  margin: 0.25rem auto;

}
#cardDetail p{
  margin: 0.35rem;
  box-shadow: 1px 1px 1.5px #2e7cb3;
  border-radius: 5px;
}
.card button{
  margin: 0.25rem;
  padding: 0.45rem;
  background-image: linear-gradient(orange, yellow);
  cursor:pointer;
  border:none;
  border-radius: 10px;
  color: brown;
}
.card button:hover{
  background-image: linear-gradient(yellow, orange);
  padding:0.47rem;
}

.card input{
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  :focus{
      color: #212529;
      background-color: #fff;
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

.about{
  margin : 50px auto;
  width: 30rem;
  box-shadow: 1px 4px  2px rgba(37, 54, 80, 0.25);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
 
}
.about h1{
  padding :0.25rem;
  margin: 0.5rem;
  color: #4e1705;
}

.about h3{
  padding :.25rem;
  color: #702a17;
}
.about p{
  padding :.25rem;
  margin: 0.25rem;
  line-height: 1.25rem;
  color: #945e4a;
}


.contact div{
  margin : 50px auto;
  width: 35vw;
  box-shadow: 5px  2px 100px 20px rgba(23, 38, 59, 0.25);
  padding :0.5rem;
}

.contact p{
  
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  font-style: normal;
  color: #cfc260;
}
 @media (max-width : 1175px) {
  .card input{
    width : 100%;

  }
  .card button{
    width : 100%;
  }
 }
 
 @media (max-width : 830px){
  .card{
    width : 50%;
  }
  .contact div{
    width : 70vw;
  }
  .about{
    width : 70vw;
  }
 }

 @media (max-width : 550px){
  .card{
    width : 80%;
  }
 }

